/*
#222222
#161616
#AA0000
*/

textarea {
    resize: none;
}

button {
    background-color: lightgray;
    width: 150px;
    height: 55px;
}

button:hover {
    background-color: darkgray;
}

button:active {
    background-color: lightgray;
}

p.mapping {
    font-family: Courier;
    font-size: 14pt;
}

i.fa {
    font-size: 32px;
}

i.fa:hover {
    color: white;
}

i.fa-linkedin {
    color: #0077B5;
}

i.fa-github {
    color: black;
}

div.footer {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.row {
    padding-left: 20px;
}