/*
#222222
#161616
#AA0000
*/
body {
    background-color: #222222;
    font-family: Verdana;
    color: #FFFFFF;
}

input {
    background-color: #161616;
    color: #FFFFFF;
    width: 300px;
}

textarea {
    background-color: #161616;
    color: #FFFFFF;
    font-family: Verdana;
}

textarea.key {
    resize: none;
}

button {
    background-color: #AA0000;
    color: #FFFFFF;
    font-family: Verdana;
}

p.mapping {
    font-family: Courier;
    font-size: 16pt;
}